backports.entry-points-selectable
click
cycler
distlib
dlib
et-xmlfile
face-recognition
face-recognition-models
filelock
Flask
imageio
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
networkx
nltk
numpy
opencv-python
openpyxl
pandas
Pillow
platformdirs
pyparsing
python-dateutil
pytz
PyWavelets
regex
scikit-image
scikit-learn
scipy
six
threadpoolctl
tifffile
torch
torchvision
tqdm
typing-extensions
virtualenv
Werkzeug
